body {
  background: url(assets/map.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
}

.cardLink {
  width: 30%;
}

.main.content {
  margin-left: 40px;
}

.App {
  text-align: center;
}

.App-finder {
  margin-top: 10%;
  margin-bottom: 5%;
}
iframe {
  border:0;
  width: 100%;
  height: auto,
}